<dx-data-grid
  [dataSource]="wells"
  [editing]="{
    mode: 'cell',
    allowUpdating: true
  }"
  [selection]="{
    mode: 'multiple',
    showCheckBoxesMode: 'always'
  }"
  [showBorders]="true"
  [rowAlternationEnabled]="true"
  [wordWrapEnabled]="true"
  [allowColumnResizing]="true"
  class="custom-data-grid"
>
  <dxi-column dataField="id" caption="Well ID" alignment="center" [width]="100" [fixed]="true"
              cssClass="centered-cell" [allowEditing]="false" />
  <dxi-column dataField="row" caption="Row" alignment="center" [width]="60" [fixed]="true"
              cssClass="centered-cell" [allowEditing]="false" [calculateCellValue]="rowIndex"/>
  <dxi-column dataField="column" caption="Column" alignment="center" [width]="80" [fixed]="true"
              cssClass="centered-cell" [allowEditing]="false" [calculateCellValue]="columnIndex"/>
  <dxi-column dataField="sampleId" caption="Sample ID" alignment="center" [width]="150" [allowEditing]="true"
              cssClass="centered-cell"/>
  <dxi-column dataField="sampleRole" caption="Sample Role" alignment="center" [width]="180" [allowEditing]="true"
              cssClass="centered-cell"/>
</dx-data-grid>
